*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: clamp(40%, 1% + 2vw,62.5%);

    --hue:194;
    --bg-color:hsl(var(--hue),5%,7%);
    --text-color:hsl(var(--hue),40%,98%);
    --primary-color:hsl(var(--hue),100%,63%);
    --controls-bg-color:hsl(var(--hue),0%,14%);
    --button-secondary:hsl(var(--hue),40%,98%);
    --card:hsl(var(--hue),9%,89%);
    --card-secondary:hsl(var(--hue),97%,31%);
    --button-tertiary:hsl(var(--hue),0%,0%);
}

html.light{
    
    --text-color:hsl(var(--hue),5%,7%);
    --bg-color:hsl(var(--hue),40%,98%);
}

html.light .ph-sun,
html:not(.light) .ph-moon{
    display: none;
}

#toggle-mode{
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;

    color: var(--text-color);
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

body{
    background: var(--bg-color);
    color: var(--text-color);

    height: 100vh;

    font-family: 'Roboto', sans-serif;

    display: grid;
    place-content: center;
}

#app{
    display: flex;
    gap: 19.2rem;
}

#app div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

#timer{
    font-size: 9.6rem;
    font-weight: bold;
}

#controls {
    margin-top: 1.6rem;
    padding: 2.2rem 4rem;
    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;

}

#controls-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3.2rem;
}

.card{
    display: grid;

    width: 13.8rem;
    height: 15.2rem;

    background: var(--card);
    border-radius: 2.4rem;

}

.card button{
    width: 100%;
    height: 100%;
}

button{
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 6.4rem;
}

.secondary {
    color: var(--button-secondary);
}

.tertiary {
    color: var(--controls-bg-color);
}

.card button:hover{
    color: var(--button-secondary);
    background: var(--card-secondary);
    border-radius: 2.4rem;
}


.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high{
    display: none;
}

