body{
    margin: 0;
    background-color: #2C2B3D;
    min-height: 100vh;
}

.page{
    border: 1px solid greenyellow;
    width: 1092px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 71px auto 101px;

    font-size: 14px;
    line-height: 28px;
    font-family: 'JetBrains Mono', monospace;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 64px;
    margin: 0;
    padding: 0;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 77px;
   
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 157px;

}
main h1{
    font-size: 36px;
    line-height: 40px;
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
}

main span{
    color: #00BFA6;
    font-weight: bolder;
}

main p{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #C2C2C2;
    margin: 40px 0px;
}

footer {
    font-size: 14px;
    line-height: 28px;
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;

    text-align: center;
  }
  
  footer a {
    font-weight: bold;
  }

  .line{
    margin: 0 auto 27px;
    border: 1px solid #00BFA6;
    width: 568px;
  }
  
  #img {
    position: fixed;
    bottom: 0;
    right: 0;
  }