body{
    margin: 0px;
    
}
.page{
    border: 1px solid red;
    width: 1000px;
    margin: 65px auto 0px;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;

    font-size: 18px;
    font-family: 'Mulish', sans-serif;
}

nav ul a{
    color: #7D7987;
    text-decoration: none;
}
nav ul a:hover{
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
    
}


main{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 82px;

}
main h1{
    font-size: 49px;
    line-height: 56px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;

    margin-bottom: 40px;
}

main span{
    color: #89C5CC;
    font-weight: bolder;
}

main p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin-bottom: 40px;
}

main button{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;

    background-color: #69B99D;
    color: #F9F9F9;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 179px;
    height: 56px;
   
    
}

footer{
    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

footer a{
    font-weight: bold;
}

 #img{
    position: fixed;
    right: 0px;
}